.place__url-heading {
    color: #aaaaaa;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 12px;
}

@media screen and (max-width: 1023px) {
    .place__url-heading {
        line-height: 12px;
    }
}

@media screen and (max-width: 767px) {
    .place__url-heading {
        line-height: 12px;
    }
}