.place__link {
    color: #ffffff;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
}

.place__link:hover {
    opacity: 0.8;
    transition: opacity 0.1s ease;
}